.container-pokedex {
    width: 250px;
    margin-right: 10px;
    border: 7px solid #151515;
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 10px;

    .titulo {
        font-size: 20px;
        color: white;
        padding: 10px 0;
        background: #ff0000;
        text-align: center;
        border-radius: 42px 42px 0 0;
        border-bottom: 5px solid #151515; 
    }

    .pokedex {
        display: flex;
        flex-wrap: wrap;
        font-size: larger;
        align-items: center;
    }
}