@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

.container-list {
    width: 100%;
    max-width: 1200px;

    .load {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(215, 40, 40, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Pokemon';
        color: #ffffff;
        text-shadow: 5px 5px #202020;
        font-size: 50px;
    }

    .search {
        width: 80%;
        margin: 0 auto;

        input {
            width: 100%;
            border: none;
            background: transparent;
            border-bottom: solid 4px #ff0000;
            outline: none;
            font-size: 30px;
        }    
    }

    .list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .evolution {
        display: flex;
        margin: 0 auto;
        width: 600px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        button {
            border-radius: 50%;
            cursor: pointer;
            border: none;
            padding: 0 30px;
        }
    }
}