.container-pokemon {
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 10px;
    text-align: center;
    border: 2px solid #202020;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;

    .sprites {
        border-radius: 50%;
        margin: 20px;
        cursor: grabbing;

        img {
            width: 150px;
            color: green;
            &:hover {
                outline: none;
                border-color: #9ecaed;
                box-shadow: 0 0 10px #9ecaed;
                border-radius: 50%;
            }
        }
    }

    .name {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 15px 0;
        color: #151515;
    }

    .types {
        margin: 20px 0;
        cursor: pointer;

        span {
            text-align: center;
            width: 80px;
            text-transform: uppercase;
            padding: 7px;
            margin: 5px;
            text-shadow: -1px -1px 0 black,  
                         1px -1px 0 black,
                         -1px 1px 0 black,
                         1px 1px 0 black;
            color: white;
            border-radius: 5px;
            border: 2px solid white;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

        }
    }

    .water {
        width: 100px;
        background:#7db9e8;
    }

    .bug {
        background:#acbc36;
    }

    .dark {
        background:#4f3c32;
    }

    .dragon {
        background:#7764db;
    }

    .electric {
        background:#f0e6c2;
    }

    .fairy {
        background:#e991e4;
    }

    .fighting {
        background:#853d28;
    }

    .fire {
        background:#f28a65;
    }

    .flying {
        background:#b7c1f4;
    }

    .ghost {
        background:#635cbe;
    }

    .grass {
        background:#72c03e;
    }

    .ground {
        background:#867237;
    }

    .ice {
        background:#b3e8fd;
    }

    .normal {
        background:#dbd6d1;
    }

    .poison {
        background:#97599a;
    }

    .psychic {
        background:#f5a7c2;
    }

    .rock {
        background:#ddd1ac;
    }

    .steel {
        background:#d3d2da;
    }

    .card {
        width: 300px;

        h2 {
            padding: 10px 0;
        }

        ul {
            text-align: start;
            padding-left: 10px;
            padding-top: 10px;
            font-size: 15px;
            
        }
    }
}